@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: lightgray;
}

* {
    line-height: 1.5;
    font-family: 'Source Code Pro';
    margin: 2vh;
    
}

ul {
    list-style: none;
}

ul li {
    position: relative;
    left: -10%;
}
.main h1 {
    text-align: center;
}
div {
    margin-top: 2;
}
div div {
    background-color: whitesmoke;
    width: 50%;
    border: 2px cornsilk solid;
    border-radius: 3vh;
    padding: 1vh;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;

}
#skills img {
    width: 50%;
    border-radius: 2vh;
}

#skills :nth-child(6) {
    position: relative;
    bottom: 65vh;
    left: 10vh;
    font-weight: bolder;
}

#skills div {
    border: none;
}

.imageholder{
    position: relative;
    float: left;
}

.title {
    position: absolute;
    top: 0;
}

.caption{
    position: absolute;
    bottom: -9%;
    left: 30%;
    right: 0;
}


.find-me img {
    width: 12%;
    display: inline;
}

.find-me div {
    border: none;
}

.table {
    display: table;
    margin: 0 auto;
}

ul #horizontal-align {
    min-width: 20vh;
    padding-top: 20px;

}

ul #horizontal-align li {
    display: inline;

}
